@charset "utf-8";
body {
	padding: 0;
	margin: 0;
	border: 0;
	background-color: #000000;
}
*{
	padding:0;
	margin:0;}
* img{
	border:none;
	}		
.diller{
	background-image: url(../images/diller.png);
	width: 254px;
	margin: 30px auto  30px auto;
	height: 30px;
}	
.naxis{
	background-image:url(../images/naxis.fw.png);
	background-repeat:repeat-x;
	width:100%;
	height:30px;
	margin:auto;}
.logo{
	width:autopx;
	height:150px;
	text-align:center;
	margin:auto;}
.logo h1 {
	font-size:20px;
	padding: 0;
	margin: 0;
	color: #887046;
}		
.xemse{
	width:100%;
	text-align:center;
	height:auto;}
.xemse img{
	width:60%;
	max-width:623px;
	height:auto;
	min-width:300px;}		
.bolme{
	max-width:1200px;
	width:100%;
	height:auto;
	margin:auto;
	text-align:center;}	
.footer{
	width:100%;
	text-align:center;
	margin:20px auto;
	}
.footer img {
	width:63%;
	max-width:601px;
	min-width:300px;
	height:auto;}		
/* DILLER UL-LER */	
#dil{
	padding:0 50px;
	margin:0;}
#dil li{
	list-style:none;
	text-align:center;
	float:left;
	height:30px;
	line-height:30px;
	width:30px;}	
#dil li a{
	text-decoration: none;
	color: #887046;
}	
	
.bolme_one{
	float:left;
	min-width:300px;
	width:30%;
	margin:5px;
	height:auto;
	overflow:hidden;
	position:relative;
	}	
.bolme_one img {
	width:100%;
	height:auto;}	

.text_back{
	
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0;
}
.text_hover{
	text-align:center;
	display:block;
	position:relative;
	color:#000000;
	margin:35% auto;
	width:auto;
	height:auto;}

.text_hover a{
	display:block;
	text-align:center !important;
	font-size: 18px;
	z-index: 23;

	text-decoration: none;
	color: #FFFFFF;
	top: 21%;
	left: 19%;
	font-family: "a_Romanus";
}
.sekil_style {
	position:absolute; top:42%; left:1%;}









	
/* ---------------------- RESPONSIVE STUFF - ONLY TOUCH IF YOUR'E CONFIDENT WITH CSS ---------------------- */


@media only screen and (max-width: 1279px) {
	.text_hover a{
		top:21%;}
	
}

@media only screen and (max-width: 1105px) {
	.text_hover a{
		top:20%;}

}

@media only screen and (max-width: 999px) {
	
	.text_hover a{
		top:17%;}
	

}

@media only screen and (max-width: 835px) {
.text_hover a{
		top:20%;
		
		}
	
	
	.diller{
		margin-top:80px;}


}

@media only screen and (max-width: 860px) {
	
	
	
	.diller{
		margin-top:60px;}

}

@media only screen and (max-width: 720px) {
.text_hover a{
		top:16%;
		left:19%;
		}
	
	.text_hover a{
		top:13%;
		}
	.text_hover{
		margin-top:35%;}
	
	.logo h1{
		font-size:18px;}
	.diller{
		margin-top:40px;}

}

@media only screen and (max-width: 510px) {
	.text_hover a{
		top:14%;
	}
	.text_hover{
		margin-top:33%;}
	
	
	.diller{
		margin-top:30px;}
		
	.logo h1{
		font-size:14px;}
	

}
	
