@charset "utf-8";
body {
	padding: 0;
	margin: 0;
	border: 0;
	background-color: #000000;
}
*{
	padding:0;
	margin:0;}
* img{
	border:none;
	}		
.diller{
	background-image: url(../images/diller.png);
	width: 254px;
	margin: 30px auto  30px auto;
	height: 30px;
}	
.naxis{
	background-image:url(../images/naxis.fw.png);
	background-repeat:repeat-x;
	width:100%;
	height:30px;
	margin:auto;}
.logo{
	width:autopx;
	height:150px;
	text-align:center;
	margin:auto;}
.logo h1 {
	font-size:20px;
	padding: 0;
	margin: 0;
	color: #887046;
}		
.xemse{
	width:100%;
	text-align:center;
	height:auto;}
.xemse img{
	width:60%;
	max-width:623px;
	height:auto;
	min-width:300px;}		
	

	
/* DILLER UL-LER */	
#dil{
	padding:0 50px;
	margin:0;}
#dil li{
	list-style:none;
	text-align:center;
	float:left;
	height:30px;
	line-height:30px;
	width:30px;}	
#dil li a{
	text-decoration: none;
	color: #887046;
}	
.foto{
	padding-bottom:50px;
	text-align:center;
	min-width:300px;
	width:80%;
	max-width:600px;
	height:auto;
	margin:auto;
	}
.foto img{
	width:100%;
	height:auto;
	max-height:500px;
	min-height:250px;}
.foto_text{
		text-align:justify;
	width:100%;
	min-width:300px;
	margin:20px auto;
	color:#fff
	;
	font-family:Thoama;}



	
	
	
	
/* ---------------------- RESPONSIVE STUFF - ONLY TOUCH IF YOUR'E CONFIDENT WITH CSS ---------------------- */


@media only screen and (max-width: 1279px) {
	
	
}

@media only screen and (max-width: 1105px) {
	

}

@media only screen and (max-width: 999px) {
	

}

@media only screen and (max-width: 835px) {
	.diller{
		margin-top:80px;}
	#slider li, #slider2 li{
			max-width:300px;
			height:auto;}
.foto_text{
	font-size:16px;}
}

@media only screen and (max-width: 860px) {
	.diller{
		margin-top:60px;}
	#slider li, #slider2 li{
			max-width:300px;
				height:auto;}
				
				.foto_text{
	font-size:15px;}
}

@media only screen and (max-width: 720px) {
	.diller{
		margin-top:40px;}
	#slider li, #slider2 li{
			max-width:300px;
				height:auto;}
				
				.foto_text{
	font-size:14px;}
}

@media only screen and (max-width: 510px) {
	.diller{
		margin-top:30px;}
		
	.logo h1{
		font-size:14px;}
		#slider li, #slider2 li{
			max-width:300px;
				height:auto;}
.foto_text{
	font-size:13px;}
}
	