
	img{border:none;}
	
			
    /* image replacement */
        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */
			
		
			
	#content{
		min-width:300px;
	
		height:auto;

		position:relative;
		}			

/* Easy Slider */

	#slider ul, #slider li,
	{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		text-align:center;
		background-color:rgba(0,255,0,1);
		width:60%;
		max-width:600px;
		min-width:300px;
		margin:auto;
		height:auto;
		overflow:hidden; 
		}	
	#slider li img{
		width:60%;
		height:auto;
		margin:auto;}	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:67px;
		height:43px;
		position:absolute;
		left:-5%;
		top:50%;
		z-index:1000;
		}	
	#nextBtn{ 
		left:90%;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:67px;
		height:77px;
		background:url(../images/btn_prev.gif) no-repeat 0 0;	
		}	
	#nextBtn a, #slider1next a{ 
		background:url(../images/btn_next.gif) no-repeat 0 0;	
		}	
		
	/* numeric controls */	

	
	
/* // Easy Slider */